---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Jayson Acosta | Posts">
  <main class="container mx-auto p-5">
    <h1 class="text-neutral-900 font-extrabold text-5xl">
      All <span
        class="bg-gradient-to-r from-blue-700 to-sky-400 bg-clip-text text-transparent"
        >posts.</span
      >
    </h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid"></ul>
  </main>
</Layout>
