---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post";

interface Frontmatter {
  title: string;
  description: string;
  date: string;
  slug: string;
}

const posts = await Astro.glob<Frontmatter>("./posts/*.md");
---

<Layout title="Jayson Acosta | Recent">
  <main class="container mx-auto p-5">
    <h1 class="text-neutral-900 font-extrabold text-5xl">
      Recent <span
        class="bg-gradient-to-r from-blue-700 to-sky-400 bg-clip-text text-transparent"
        >posts.</span
      >
    </h1>
    <br />
    <section class="grid grid-cols-2 gap-5">
      {
        posts.map(({ frontmatter: { title, description, date, slug } }) => {
          return (
            <Post
              title={title}
              description={description}
              date={date}
              slug={slug}
            />
          );
        })
      }
    </section>
  </main>
</Layout>
